<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".citas.CrearCitaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividades.ListarActividadesActivity"
            android:exported="false"
            android:label="Actividades"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".actividades.CrearActividadActivity"
            android:exported="false"
            android:label="Crear Actividad"
            android:parentActivityName=".actividades.ListarActividadesActivity" />

        <activity
            android:name=".actividades.VerActividadActivity"
            android:exported="false"
            android:label="Detalle de Actividad"
            android:parentActivityName=".actividades.ListarActividadesActivity" />

        <activity
            android:name=".tipoactividad.TipoActividadActivity"
            android:exported="false"
            android:label="Tipos de Actividad"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".lugar.LugarActivity"
            android:exported="false"
            android:label="Lugares"
            android:parentActivityName=".MainActivity" />


        <activity
            android:name=".socio.SocioComunitarioActivity"
            android:exported="false"
            android:label="Socios Comunitarios"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".proyecto.ProyectoActivity"
            android:exported="false"
            android:label="Proyectos"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".oferente.OferenteActivity"
            android:exported="false"
            android:label="Oferentes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mantenedores.mantenedoresActivity"
            android:label="Gestión de Mantenedores"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
    </application>





</manifest>